@import "../../vars.css";

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #ffc8ff 0%, #4734f1 100%);
    box-shadow: 0 15px 15px 0 #235744;
    padding: 18px 25px;
    max-width: 450px;
    height: 610px;
}

.image {
    margin-bottom: 25px;
}

.title {
    font-size: 25px;
    font-weight: 700;
}

.description {
    margin-top: 5px;
    font-size: 25px;
    font-weight: 400;
    flex-grow: 1;
}

.skills {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    list-style: none;
}

.skill {
    font-size: 25px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-dark);
    padding: 2px 22px;
}

.links {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

/* From Uiverse.io by satyamchaudharydev */ 
.link {
    text-decoration: none;
    text-align: center;
    --bg: #5993ff;
    --text-color: var(--text-color);
    position: relative;
    width: 170px;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 15px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #3f68b3 0px 7px 2px, #000 0px 8px 5px;
}

.link:hover {
    opacity: 1;
}

.link:active {
    top: 4px;
    box-shadow: #3f68b3 0px 3px 2px,#000 0px 3px 5px;
}

.disabledLink {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}  