@import "../../vars.css";

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(
        180deg,
        var(--color-gradient-start) 0%,
        var(--color-gradient-end) 95%
    );
    box-shadow: 0 15px 15px 0 var(--color-shadow);
    padding: 18px 25px;
    max-width: 450px;
    height: 620px;
    transition: background-position 0.4s ease-in-out, transform 0.3s ease-in-out;
}

.container:hover {
    transform: scale(1.01);
}

.image {
    margin-bottom: 25px;
    border-radius: 10px;
}

.title {
    font-size: 25px;
    font-weight: 700;
}

.description {
    margin-top: 5px;
    font-size: 25px;
    font-weight: 400;
    flex-grow: 1;
}

.skills {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.skill {
    font-size: 25px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-dark);
    padding: 5px 22px;
}

.links {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.linkWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
}

/* From Uiverse.io by satyamchaudharydev */
.link {
    text-decoration: none;
    text-align: center;
    --bg: var(--color-button-bg);
    --text-color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 15px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: var(--color-button-shadow) 0px 7px 2px, #000 0px 8px 5px;
}

.link:hover {
    opacity: 1;
}

.link:active {
    top: 4px;
    box-shadow: var(--color-button-shadow) 0px 3px 2px, #000 0px 3px 5px;
}

.pointerEventsNone {
    pointer-events: none;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.4;
}